/* contact form home page css starts */

div#contact001 {
    width: 100%;
}
#contact001 h2 {
    color: #fff;
    text-align: center;
}
#contact001 h5 {
    text-align: center;
    color: #fff;
}

/* contact form home page css ends */